html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    background: -moz-linear-gradient(to bottom right, #626262, lightslategray);
    color: white;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.myContainer {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerOption {
    padding-left: 15px;
}

.container {
    position: relative;
}

.profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}